/*Article Form*/
label{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	float: left;
	width: 8em;
	text-align: left;
	padding-left: 1em;
	margin-bottom: .5em;
	padding-top:.5em;
	clear:both;
}

input{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	width: 25em;
	margin-left: .5em;
	margin-bottom: .5em;
}

select{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	width: 25em;
	margin-left: .5em;
	margin-bottom: 1em;
	margin-top: 1em;
}

#comment {
	padding-top: 1em;
}

textarea{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	width: 25em;
	margin-left: .5em;
	margin-bottom: .5em;
	margin-top: 2em;
	clear:both;
	text-align: left;	
}

option{
	padding:.5em;
}

/*Button formatting*/
#Submit, #Reset{
	width: 7em !important;
	background-color: #CDD5D1;
	text-align: center;
	border-radius: 4px;
	padding:0 2em;
	margin-left: 3em;
	margin-bottom: 2em;
	display: inline-block;
}

/*Sidebar form*/
#sidebarB fieldset{
	font-family: "Bookman Old Style", Times, serif;
	margin:1em;
	font-size:90%;
	border: 2px solid #946E83;
}

#sidebarB legend{
	padding-bottom: .5em;
}

#sidebarB label, #sidebarB input, #sidebarB select{
	width:2em;
	text-align:left;
	float:left;
	clear:both;
	font-family: "Bookman Old Style", Times, serif;
	font-size: 90%;
}
