/*Formatting tiled structure*/
.column{
	display: 33%;
	max-width:25%;
	padding: .5em 1em;
}

.row{
	display:flex;
	flex-wrap: wrap;
	padding-left: 3em;
	margin: 0 auto;
	width:90%;
}

h2{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	color:white;
	text-shadow: 2px black;
	padding-top: 2em;
	font-size: 3em;
}

/*Header Image*/
#booksInARow{
	background-image: url("../images/fallenBooks.jpg");
	background-repeat: no-repeat;
	width: 464px;
	height: 206px;
	margin: 1em auto 0 auto;
	vertical-align:center;
	text-align: center;
	padding:0;
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/*Thumnail formatting*/
.thumbnail{
	width: 100px;
	height:170px;
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.thumbnail:hover{
	transform: none !important;
}

figcaption{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size:100;
	text-align: center;
	padding: 0 .25em;
	font-weight: bold;
}
	
#afterQuake:hover figcaption, #afterQuake:hover img,
#wildSheep:hover figcaption, #wildSheep:hover img,
#windUp:hover figcaption, #windUp:hover img,
#blindWillow:hover figcaption, #blindWillow:hover img,
#hardBoiled:hover figcaption, #hardBoiled:hover img,
#kafka:hover figcaption, #kafka:hover img
{
	visibility:hidden;
}

/*Image upon hover*/
#afterQuake:hover{
	background-image: url("../images/afterTheQuake.jpg");
	width: 300px;
	height:464px;
	background-repeat: no-repeat;
	position:fixed;
	top: 0;
	left:30; 
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#wildSheep:hover{
	background-image: url("../images/aWildSheepChase.jpg");
	width: 300px;
	height:471px;
	background-repeat: no-repeat;
	position:fixed;
	z-index: 200;
    left:50%;
    bottom:0%;
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#blindWillow:hover{
	background-image: url("../images/BlindWillowSleepingWoman.jpg");
	width: 300px;
	height:466px;
	background-repeat: no-repeat;
	position:fixed;
	left:30;
	top:0;
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#hardBoiled:hover{
	background-image: url("../images/hardBoiled.jpg");
	width: 300px;
	height:471px;
	background-repeat: no-repeat;
	position:fixed;
	left:30;
    bottom:0;
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#hearWind:hover{
	background-image: url("../images/hearTheWindSing.jpg");
	width: 300px;
	height:472px;
	background-repeat: no-repeat;
	position:fixed;
	z-index: 200;
    left:50%;
    top:0%;
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#kafka:hover{
	background-image: url("../images/kafka.jpg");
	width: 300px;
	height:463px;
	background-repeat: no-repeat;
	position:fixed;
	z-index: 200;
    left:50%;
    top:0%;
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}


#windUp:hover{
	background-image: url("../images/WindUp.jpg");
	width: 300px;
	height:464px;
	background-repeat: no-repeat;
	position:fixed;
	bottom: 0;
	left:30; 
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
