/*Article Formatting*/
article img{
	float: right;
	width: 300px;
	margin: 0 1em 0 1em;
	border: 3px solid #CDD5D1;
	text-align: justify;
}

article a {
	padding: 0;
}

article p{
	font-size: 110%;
}

#clear {
	clear:both;
	padding-top: 1em;
}

blockquote{
	text-align: justify;
	background: #ede9c2;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;	
	font-size: 110%;
	color:black;
	padding: 1em; 
	margin-left: 4em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
