*{
	padding: 0;
	margin: 0;
}

html{
	/*background: #CDD5D1;*/
	background-image: url('../images/htmlfishtile.png');
	background-repeat: repeat;
}

body {
	width:60em;
	margin: 0 auto;
	background: #F7FFF6;
}

article{
	transition: all .2s ease-in-out; 
} 

p, a{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-decoration: none;
	color:black;
	padding-bottom: 1em; 
	padding-left: 1em;
}

h1{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	color: black;
	padding: 0 .5em;
}

h3{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: black;
	padding:1em;
}

article img{
	float: left;
	width: 300px;
	margin: 0 1em 0 1em;
	border: 3px solid #CDD5D1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

article a img:hover{
	transform: scale(1.1);
}

a:hover{
	color:blue;
	text-decoration: underline;
}

/*Header Formatting*/

header {
	background: #B4A6AB;
	vertical-align: baseline;
	height: 203px;
	text-align: bottom;
}

header h1{
	font-family: "Bookman Old Style", Times, serif;
	font-size: 3.5em;
	font-weight: 450;
	padding: .75em 0 0 0;
	margin: 0;
	vertical-align:center;
	text-shadow: -2px 0 #F7FFF6, 0 2px #F7FFF6, 2px 0 #F7FFF6, 0 -2px #F7FFF6;
}

header h3{
	font-family: "Bookman Old Style", Times, serif;
	font-size: 2.5em;
	font-weight: 450;
	padding-top: .5em;
	padding-bottom: .5em;
	text-shadow: -2px 0 #F7FFF6, 0 2px #F7FFF6, 2px 0 #F7FFF6, 0 -2px #F7FFF6;
}

header img{
	float:left;
	padding-top: 10px;
	padding-right: 1em;
	vertical-align: baseline;
}

/*Sidebar Formatting*/
#sidebarA{
	width:20%;
	float:left;
	padding: 5em 0;
	background: -webkit-radial-gradient(center, #F7FFF6 50%, #CDD5D1 100%);
	height: auto;
}

#sidebarA img:hover{
	box-shadow: 0px 0px 3px 3px #CDD5D1;
	transform: scale(1.1);
}

#sidebarB{
	width: 20%;
	float: right;
	padding: 1em 0;
}

#sidebarB img{
	width: 10em;
	margin-top:1em;
}


#sidebarB a{
	font-family: "Bookman Old Style", Times, serif;	
	font-size: .75em;
	text-align: center;
	padding:0;
}


div.links{
	border: 2px solid #946E83;
	margin: 1.5em 1em 1em 1em;
	padding: 1em;
	clear:both;
}

article{
	width:60%;
	float: left;
	font-size:90%;
}

/*Topbar navigation menu*/
#nav_menu{
	clear:both;
	color: #F7FFF6;
	padding: 0;
	margin: 0;
}

#nav_menu ul li { 
	padding: .5em 0 .5em 0; 
	list-style: none;
	list-style-type: none;	
	color: #F7FFF6;
	text-align: center;
	position: absolute;
}

#firstTier{
	width:25%;
}

#nav_menu ul{
	padding: 0; 
	list-style: none;
	list-style-type: none;	
	background-color:#946E83;
	color: #F7FFF6;
	text-align: center;
	list-style-type: none;
	position: relative;	
	width:100%;
}

#nav_menu >ul>li { 
	float: left;
	position: relative; 
}

#nav_menu ul li{
	float: left;
	padding: .5em 0;
}
	
#nav_menu ul ul {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
}

#nav_menu ul ul li{
	float:none;
	position: relative;
}

#nav_menu ul ul ul { 
	top: 0; 
	left: 100%;	
	position: absolute;
	width:100%;
}

#nav_menu li:hover>ul { 
	display: block; 
}

#nav_menu ul li a {
	text-align: center;
	display: block;
	width:100%;
	text-decoration: none;
	color: #F7FFF6;
	padding: .5em;
}

#nav_menu ul li ul li a {
	padding: 0;
	text-align: center;
	display: block;
	width:100%;
	text-decoration: none;
	color: #F7FFF6;
}

#nav_menu ul li ul li{
	width: 100%;
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus{
	background-color:#B4A6AB;
	width:80%;
	text-align:right;
}

#nav_menu > ul::after{
	content: "";
	clear:both;
	display:block;
}

#nav_menu ul ul li {
	float:none;
}

#nav_menu ul ul li ul{
	position: absolute;
	left:100%;
	top: 0;
}

#nav_menu ul li.lastitem ul li ul{
	left: -100%;
}

#nav_menu ul li.lastitem a{
	width: 100%;
}

#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu li:hover > ul {
	display: block;
}

#nav_menu > ul::after{
	content: "";
	clear:both;
	display:block;
}

#nav_menu ul li a.current {
	color: #CDD5D1;
}


/* Side bar navigation*/
#nav_list ul {
	list-style-type: none;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	padding-left: 1.5em;
}

#nav_list ul li  {
	width: 10em;
	margin-bottom: 0.50em;
	color: #1C3144;
}

#nav_list ul li a {
	display: block;
	padding-left: 0.5em;
	text-decoration: none;
	font-weight: normal;
	color: #1C3144;
	text-align: left;
}

#nav_list img{
	border: 3px solid #CDD5D1;
	width: 8em;
	height: 8em;
}

/*Footer*/
footer{
	clear:both;
	text-align: center;
	color: #1C3144;
	background-color: #B4A6AB;
	font-weight:normal;
	padding: 1em;
}

footer p, footer a {
	font-size: 90%;
	text-align: center;
}