

/*Adjusting sidebar to cover entire space with longer page*/
#sidebarA{
	padding-bottom: 15em;
}

/*Table Formatting*/
caption{
	font-family:"Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	margin: .5em 0;
}

table{
	width: 95%;
	margin: .5em auto;
	border-collapse: collapse;
}

#tableimg{
	width: 80px;
}

td{
	padding: .5em;
	vertical-align: center;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}

th{
	padding: .5em;
	font-size: 105%;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	text-align: center;
}

thead{
	text-align:center;
}

table tr td:nth-child(2n){
	background:#ede9c2;
}

table thead tr:nth-child(2){
	border-bottom: 2px solid black;
	background: #ede9c2;
}

table tr{
	border-bottom: 2px solid black;
}

table thead tr:nth-child(1){
	width: 50%;
	border-bottom: 2px solid black;
	font-size: 1.5em;
}

table tr:nth-last-child(1){
	border-bottom: 2px solid black;
}
	
#innertable td{
	width:100px;
	background: #F7FFF6;
}

#innertable tr{
	border: none;
}

#nodata{
	text-align: center;
}

